// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

$fa-font-path:"../webfonts";
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~admin-lte/dist/css/adminlte.css';

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

body{
    margin: 0;
    font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
.invalid-feedback {
    display: block;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #e3342f;
}
.card-title {
    margin-bottom: 0px;
}
.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.alert-danger {
    color: #fff;
    background: #dc3545;
    border-color: #d32535;
}
.alert-dismissible {
    padding-right: 4rem;
}

.alert-info {
    color: #fff;
    background: #17a2b8;
    border-color: #148ea1;
}
.alert-warning {
    color: #1f2d3d;
    background: #ffc107;
    border-color: #edb100;
}
.alert-success {
    color: #fff;
    background: #28a745;
    border-color: #23923d;
}

.btn-primary {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-default {
    background-color: #f8f9fa;
    border-color: #ddd;
    color: #444;
}

.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    box-shadow: none;
}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    box-shadow: none;
}

.btn-warning {
    color: #1f2d3d;
    background-color: #ffc107;
    border-color: #ffc107;
    box-shadow: none;
}

.btn-info {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
    box-shadow: none;
}


.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}
.nav-item {
    margin-top: 5px;
}
